@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

body {
  background: #1c6ea4;
  background: -moz-linear-gradient(left, #1c6ea4 0%, #2388cb 50%, #144e75 100%);
  background: -webkit-linear-gradient(
    left,
    #1c6ea4 0%,
    #2388cb 50%,
    #144e75 100%
  );
  background: linear-gradient(to right, #1c6ea4 0%, #2388cb 50%, #144e75 100%);
  text-align: center;
}

h1 {
  text-align: center;
  background-color: black;
  font-size: 100px;
  font-family: Fuzzy Bubbles;
  color: orangered;
}

nav {
    background-color: antiquewhite;
  font-style: italic;
  color: rgb(249, 249, 249);
  font-size: 25px;
}

footer {
  text-align: center;
  color: rgb(255, 255, 255);
}
